<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <child v-model="childValue"></child>
        {{childValue}}
    </div>
    <script src="./vue@2.6.12.js"></script>
    <script>
        Vue.component("child", {
            props: ["value"],
            template: `<div>
                <input @input="inputChange" v-model="inputValue">
                       </div>`,
            data() {
                return {
                    inputValue: ""
                }
            },
            methods: {
                inputChange: function () {
                    this.$emit('input', this.inputValue)
                    //console.log("组件改变了" + this.inputValue);
                }
            },
            watch: {
                value(newValue, oldValue) {
                    this.inputValue = newValue
                    console.log("new    "+newValue);
                    console.log("old    "+oldValue);
                }
            },
        })
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    childValue: ""
                }
            },
            methods: {

            }
        })
    </script>
</body>

</html>