<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .my_ul {
            background-color: beige;
            width: 200px;
            height: 30px;
            list-style: none;
            display: flex;
        }

        li {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background-color: aqua;
            margin-left: 10px;
            text-align: center;
            cursor: pointer;
        }

        .active {
            background-color: red;
        }
    </style>
</head>
<body>
    <script src="vue@2.6.12.js"></script>
    <div id="app">
        <input type="text" v-model="inputAddValue"><button @click="add">add</button>
        <input type="text" v-model="inputSeaValue"><button @click="seacher">seacher</button>
        <ul v-for="(item, index) in items" :key="index">
            <span>{{index+1}}:{{item.msg}}</span>
            <button @click="del(item)">删除</button>
        </ul>
        <ul class="my_ul">
            <li v-for="(item, index) in items_length" :key="index" @click="_currentPage(item)"
                v-bind:class="{active:currentPage===item}">{{item}}</li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                items: [],
                inputAddValue: "",
                inputSeaValue: "",
                currentPage: 1,
            },
            computed: {
                items_length() {
                    return Math.ceil(this.items.length / 5);
                }
            },
            methods: {
                _currentPage(_data) {
                    console.log(_data);
                    this.currentPage = _data;
                },
                add: function () {
                    this.items.push({ id: new Date().getTime(), msg: this.inputAddValue });
                    sessionStorage.setItem("arr", JSON.stringify(this.items))
                },
                del: function (_data) {
                    let _index = this.items.findIndex((element) => {
                        return element.id === _data.id;
                    });
                    console.log(_index);
                    this.items.splice(_index, 1);
                },
                seacher: function () {

                }
            },
        })
    </script>
</body>

</html>